.temperatures-display{
  display: flex;
  justify-content: space-around;
}

.temperatures-title{
  color: darkblue;
}

.temperatures-container{
  display: flex;
  gap: 1em;
  padding-top: 0.5em;
  justify-content: space-between;
}

.temperatures{
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  background-color: aliceblue;
}