.add-container{
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-top: 1em;
}

.add{
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}

.add-display{
  display: flex;
  justify-content: space-between;
}